@page
@model ReversiRestApi.Pages.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<script src="/Users/Matthijs/Documents/JavaScript/Gulp/Vendor/handlebars.runtime-v4.7.3.js "></script>
<body>
<div>
    
</div>
</body>
</html>